__pycache__/
/__pycache__
__pycache__
*.pyc
**/migrations/**
!**/migrations
!**/migrations/__init__.py
/.metadata/
**/media/**
!**/media/certificate-template.jpg
!**/media/CircularStd-Black.woff
!**/media/CircularStd-Bold.woff
!**/media/CircularStd-Medium.woff
DEPLOYMENT