<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Sertifikat</title>
  </head>

  <body>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-8 mx-auto">
                {% if cert %}
                    <div class="card mt-4 mb-4">
                        <div class="card-body">
                            <figure>
                                <img src="{{ cert.file.url }}" class="w-100 h-auto">
                            </figure>
                        </div>
                    </div>

                    <div class="text-center">
                        <a href="{{ cert.file.url }}" download class="btn btn-primary pr-4 pl-4">Download</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
  </body>
</html>