{% extends 'console/base.html' %}
{% load listing %}

{% block content %}
    <table class="table table-striped mt-4 bg-white">
        <thead>
            <tr>
                <th>No.</th>
                <th>Name</th>
                <th>Alamat Email</th>
                <th>Tanggal Lahir</th>
                <th>No. Telp</th>
                <th>Nama Perusahaan</th>
                <th>Jabatan Pekerjaan</th>
                <th>Score Tertinggi Sebelum Menonton video</th>
                <th>Score Tertinggi Setelah Menonton Video</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            {% for item in queryset_pagination %}
                <tr>    
                    <td>{{ item.id }}</td>
                    <td>{{ item.first_name }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.profile.birthdate }}</td>
                    <td>{{ item.account.msisdn }}</td>
                    <td>{{ item.profile.company }}</td>
                    <td>{{ item.profile.position }}</td>
                    <td>
                        enroll_count: {{ item.enroll_count }} <br />
                        simulation_count: {{ item.simulation_count }} <br />
                        answer_count: {{ item.answer_count }} <br />
                        answer_count_survey: {{ item.answer_count_survey }} <br />
                        answer_count_evaluate: {{ item.answer_count_evaluate }}
                    </td>
                    <td></td>
                    <td><a href="{% url 'learner_detail' item.uuid %}" class="btn btn-sm btn-warning">Detail</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% pagination pagination %}
{% endblock %}

{% block js %}
    <script src="https://cdn.datatables.net/v/bs4/dt-1.10.22/b-1.6.5/r-2.2.6/datatables.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.0.2/dist/sweetalert2.all.min.js" defer></script>

    <script type="text/javascript">
        (function() {
            'use strict';

            window.addEventListener('DOMContentLoaded', function() {
                
            });
        })();
    </script>
{% endblock %}